<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div >
        <h1 class="display-5 fw-bold mb-3">Vegetarian Eats</h1>
        <p class="lead">
            Explore the selection of vegetarain recipes including: easy desserts, quick dinner ideas, and recipes from a multitude of cuisines to choose from!
        </p>

        <div class="d-grip gap-2 d-md-flex jusitfy-content-md-start">
            <a href="/latest-recipies" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest Recipes</a>
            <a href="/random-recipies" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Try a Random Recipe</a>
        </div>
    </div>
</div>

<!-- Categories Section -->

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
    <a href="/indian-food" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/indian_food.jpg" alt="Indian Food" Loading="lazy" >
        </div>
        <div class="pt-1">Indian</div>
    </a>
    <a href="/mexican-food" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/mexican_food.jpg" alt="Mexican Food" Loading="lazy">
        </div>
        <div class="pt-1">Mexican</div>
    </a>
    <a href="/chinese-food" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/chinese_food.jpg" alt="Chinese Food" Loading="lazy">
        </div>
        <div class="pt-1">Chinese</div>
    </a>
    <a href="/american-food" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/american_food.jpg" alt="American Food" Loading="lazy">
        </div>
        <div class="pt-1">American</div>
    </a>
    <a href="/italian-food" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/italian_food.jpg" alt="Italian Food" Loading="lazy">
        </div>
        <div class="pt-1">Italian</div>
    </a>
    <a href="/view-all-food" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/view_all.jpg" alt="View All Food" Loading="lazy">
        </div>
        <div class="pt-1">View All</div>
    </a>
</div>

<!-- Categories Section End -->

<!-- Latest Recipies -->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Latest Recipes</h2>
        <a href="/latest-recipes" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/banana_bread.jpg" alt="View All Food" Loading="lazy">
            </div>
            <div class="pt-1">Eggless Banana Bread</div>
        </a>
        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/banana_bread.jpg" alt="View All Food" Loading="lazy">
            </div>
            <div class="pt-1">Eggless Banana Bread</div>
        </a>
        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/banana_bread.jpg" alt="View All Food" Loading="lazy">
            </div>
            <div class="pt-1">Eggless Banana Bread</div>
        </a>
        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/banana_bread.jpg" alt="View All Food" Loading="lazy">
            </div>
            <div class="pt-1">Eggless Banana Bread</div>
        </a>
        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/banana_bread.jpg" alt="Eggless Banana Bread" Loading="lazy">
            </div>
            <div class="pt-1">Eggless Banana Bread</div>
        </a>
    </div>
</section>
<!-- Latest Recipies End-->

<!-- Share a Recipe -->
<section class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Share your delicious recipe!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Submit your recipe and share your favorite meals with others </p>
        <div class="d-grip gap-2 d-sm-flex justify-content-sm-center"></div>
        <a href="/share-recipe" class="btn btn-primary btn-dark btn-lg">Share Recipe</a>
    </div>
</section>

<!-- Share a Recipe End-->